# Configurações do Supabase
SUPABASE_URL=https://nxfwowbyjxaznuljlcym.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54Zndvd2J5anhhem51bGpsY3ltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4Mjc3OTgsImV4cCI6MjEwMDQwMzc5OH0.kHzPyQPQBdAcPpT1UhyW41WH6Oshb3NE0cMh1mwqIr4

# Senha do administrador (para upload de planilhas)
ADMIN_PASSWORD=cruzeiro2024
